#overlay1 {
  position: fixed;
  float: left;
  display: none;
  height: 100%;
  width: 30%;
  background-color: rgba(0,0,0,0.5);
  z-index: 3;
  cursor: pointer;
  overflow: auto;
}

#overlay2 {
  position: fixed;
  float: left;
  display: none;
  height: 100%;
  width: 30%;
  background-color: rgba(0,0,0,0.5);
  z-index: 3;
  cursor: pointer;
  overflow: auto;
}

#overlay3 {
  position: fixed;
  float: left;
  display: none;
  height: 100%;
  width: 30%;
  background-color: rgba(0,0,0,0.5);
  z-index: 3;
  cursor: pointer;
  overflow: auto;
}

#overlay4 {
  position: fixed;
  float: left;
  display: none;
  height: 100%;
  width: 30%;
  background-color: rgba(0,0,0,0.5);
  z-index: 3;
  cursor: pointer;
  overflow: auto;
}

#overlay5 {
  position: fixed;
  float: left;
  display: none;
  height: 100%;
  width: 30%;
  background-color: rgba(0,0,0,0.5);
  z-index: 3;
  cursor: pointer;
  overflow: auto;
}

#overlay6 {
  position: fixed;
  float: right;
  display: none;
  height: 100%;
  width: 30%;
  background-color: rgba(0,0,0,0.5);
  z-index: 3;
  cursor: pointer;
  overflow: auto;
}

#overlay7 {
  position: fixed;
  float: right;
  display: none;
  height: 100%;
  width: 30%;
  background-color: rgba(0,0,0,0.5);
  z-index: 3;
  cursor: pointer;
  overflow: auto;
}

#overlay8 {
  position: fixed;
  float: right;
  display: none;
  height: 100%;
  width: 30%;
  background-color: rgba(0,0,0,0.5);
  z-index: 3;
  cursor: pointer;
  overflow: auto;
  font-family: 'DM Serif Text', serif;
}

#overlay8 h1{
  font-family: 'Acme', sans-serif;
}

.closebtn1 {
  position: absolute;
  right: 10px;
  font-size: 20px;
  color: white;
  text-decoration: none;
}

.closebtn2 {
  position: absolute;
  right: 10px;
  font-size: 20px;
  color: white;
  text-decoration: none;
}

.closebtn3 {
  position: absolute;
  right: 10px;
  font-size: 20px;
  color: white;
  text-decoration: none;
}

.closebtn4 {
  position: absolute;
  right: 10px;
  font-size: 20px;
  color: white;
  text-decoration: none;
}

.closebtn5 {
  position: absolute;
  right: 10px;
  font-size: 20px;
  color: white;
  text-decoration: none;
}

.closebtn6 {
  position: absolute;
  right: 10px;
  font-size: 20px;
  color: white;
  text-decoration: none;
}

.closebtn7 {
  position: absolute;
  right: 10px;
  font-size: 20px;
  color: white;
  text-decoration: none;
}

.closebtn8 {
  position: absolute;
  right: 10px;
  font-size: 20px;
  color: white;
  text-decoration: none;
}
