body {
    overflow: auto;
    font-size: 1em;
}

#map {
    height: 800px;
    /* The height is 800 pixels */
    width: 100%;
    /* The width is the width of the web page */
}

/* NavBar CSS from: https://www.w3schools.com/css/css_navbar.asp*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    font-family: 'Allerta Stencil', sans-serif;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

header {
    background-color: #333;
    height: 20%;
    text-align: center;
}

header h1 {
    margin: auto;
}

.center {
    width: 50%;
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

.flash {
    background-color: black;
    min-height: 100vh;
    color: white;
    text-align: center;
    display: block;
}

#journeyInfo {
    text-align: center;
    color: white;
    height: 20%;
    font-family: 'Allerta Stencil', sans-serif;
}

header #title {
    color: white;
    font-family: 'Allerta Stencil', sans-serif;
    padding: 15px;
}

#touristInfo {
    color: white;
    text-align: center;
    color: white;
    font-family: 'Allerta Stencil', sans-serif;
    /* display: none; */
}

#favouritesInfo {
    text-align: center;
    color: white;
    font-family: 'Allerta Stencil', sans-serif;
}

#FAQInfo {
    text-align: center;
    color: white;
     font-family: 'Allerta Stencil', sans-serif;
}

#ContactInfo {
    text-align: center;
    color: white;
    font-family: 'Allerta Stencil', sans-serif;
}

#logIn {
    text-align: center;
    color: white;
    font-family: 'Allerta Stencil', sans-serif;
}


#weatherInfo {
    text-align: center;
    font-family: 'Allerta Stencil', sans-serif;
    color: white;
}

#directionsSource {
    /* align-items: center; */
    /* width: 60%; */

    margin: 15px;
    padding: 8px;
    font-family: 'Allerta Stencil', sans-serif;
}
#directionsDestination,	#searchBusRoute, #researchContent{
    /* align-items: center; */
    /* width: 60%; */
    /* margin: 15px; */
    padding: 8px;
    font-family: 'Allerta Stencil', sans-serif;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 62px;
}
#rightNow {
    margin: 15px;
    padding: 8px;
    font-family: 'Allerta Stencil', sans-serif;
}
#time-button {
    margin: 15px;
    padding: 8px;
    font-family: 'Allerta Stencil', sans-serif;
}

#today {
    padding: 8px;
    font-family: 'Allerta Stencil', sans-serif;
}

#geoButton{
    width: 50%;
    font-family: 'Allerta Stencil', sans-serif;
    align-items: center;
    margin: 15px;
    padding: 8px;
    background-color: yellow;
    border-color: yellow;
    border-radius: 5px;
}

#navigateButton {
    align-items: center;
    margin: 15px;
    padding: 8px;
    background-color: yellow;
    border-color: yellow;
    border-radius: 5px;
    font-family: 'Allerta Stencil', sans-serif;
}

#directionsSteps {
    margin: 9%;
    background-color: white;
    padding: 2%;
    border-radius: 10px;
    display: block;
    font-family: 'Allerta Stencil', sans-serif;
}
#weather_stats {
    margin: 5%;
}
.weatherDescription {
    margin: 5%;
}
.gmap-control-container {
    margin: 5px;
}
.gmap-control {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-user-select: none;
    background: white;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    color: #333333 !important;
    cursor: pointer;
    direction: ltr;
    font-family: Arial, sans-serif !important;
    font-size: 20px !important;
    font-weight: normal;
    min-width: 54px;
    overflow: hidden;
    padding: 8px 7px 7px;
    position: relative;
    right: -14px;
    top: 5px;
    text-align: center;
    font-family: 'Allerta Stencil', sans-serif;
}
.gmap-control-active {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #6D8ACC;
    /*border-color: #717B87 -moz-use-text-color #717B87 #717B87;*/
    border-style: solid none solid solid;
    border-width: 1px 0 1px 1px;
    color: #FFFFFF !important;
    font-weight: bold;
    font-family: 'Allerta Stencil', sans-serif;
}

.tourismbutton {
  align-self: center;
  margin: 15px;
  padding: 8px;
  background-color: yellow;
  border-color: yellow;
  border-radius: 5px;
  width: 50%;
  font-family: 'Allerta Stencil', sans-serif;
}

#container img {
  width: 90%;
  height: 200px;
  border-radius: 5px;
  align-self: center;

}

#container {
  font-family: 'Allerta Stencil', sans-serif;
  color: black;
  background-color: white;
  width: 80%;
  border-radius: 5px;
  margin: 50px;
}

.websiteBtn {

  margin: 15px;
  padding: 8px;
  background-color: yellow;
  border-color: yellow;
  border-radius: 5px;
  font-family: 'Allerta Stencil', sans-serif;
  display: inline-block;

}

.tourismNavBtn {

  margin: 15px;
  padding: 8px;
  background-color: yellow;
  border-color: yellow;
  border-radius: 5px;
  font-family: 'Allerta Stencil', sans-serif;
  display: inline-block;
}

form {
  display:inline-block;
}


#researchContent li {
	    /* align-items: center; */
    width: 100%;
    height:20px;
    line-height:20px;
    margin:0px;
	  text-align: left;
    padding: 0px;
    font-family: 'Allerta Stencil', sans-serif;


}

#researchContent {
	overflow: hidden;
	margin:0px;
	padding: 0px;
}

#switch_position {
  width: 50px;
  height: 50px;
  float: right;
  padding: 5px;
}

#weatherIcon{
    align-self: center;
    width: 128px;
    height: 128px;
}
#currentTemperature{
    align-self: center;
    width: 128px;
    height: 128px;
}
.out{
  width: 500px;
  height: 900px;
  margin: 0 auto;
  margin-top: 100px;
}

#tourism-image {
  height: 1px;
  width: 2px;
  border-radius: 5px;
}
