<!DOCTYPE html>

<html>

<!-- {% load pwa %} -->
{% load staticfiles %}

  <head>

        <!-- {% progressive_web_app_meta %} -->

        <!--external stylesheet-->
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/overlay.css' %}">
        <link rel="stylesheet" href="{% static 'css/favourites_style.css' %}">

        <!--navBar Icons-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <!--Overlay-->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!--Google Fonts-->
        <link href="https://fonts.googleapis.com/css?family=Acme|Allerta+Stencil|DM+Serif+Text&display=swap" rel="stylesheet">

        <!--the use of jquery in javascript-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        <!--MarkerCluster -->
        <script type="text/javascript" src="{% static 'js/markerclusterer.js' %}"></script>

        <!--Google Maps API-->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDHStlI-HbW16s4z0MEG3VCgiNirwGiDM4&libraries=places&callback,visualization&callback=initMap" async defer></script>
        <!-- <script type="text/javascript" src="{% static 'js/favourites' %}"></script>-->

        <!--Service Workers-->
        <!-- <script src="{% static 'js/serviceworker.js' %}"></script> -->

        <!-- importing the skycons for weather dipslay -->
        <script src="{% static 'js/skycons.js' %}"></script>

        <!-- will probs not need the link below! save for now! -->
        <!-- <script src="https://rawgithub.com/darkskyapp/skycons/master/skycons.js"></script> -->

        <!-- Path to manifest.json -->
        <!-- <link rel="manifest" href="{% static 'manifest.json' %}"> -->

        <!-- Icons for Apple Devices -->
        <!-- <link rel="apple-touch-icon" href="/" sizes="160x160"> -->

        <!--title - dublin bus-->
        <title>Dublin Bus</title>

  </head>

  <body>

    <header>

      <h1 id="title">Dublin Bus | Journey Planner</h1>

    </header>

    <!--NavBar - displays overlays (above map)-->
    <ul id="nav">
      <li><a >Journey Planner</a></li>
      <li><a >Tourism</a></li>
      <li><a >Favourites</a></li>
      <li><a >FAQ</a></li>
      <li><a >Contact</a></li>
      <li style="float:right"><a ><i class="fa fa-warning"></i></a></li>
      <li style="float:right"><a onclick="on8()"><i class="fa fa-cloud"></i></a></li>
      <li style="float:right"><a ><i class="fa fa-user"></i></a></li>
    </ul>
    <script>
    		$(function(){
    			var navs = $('#nav li');
    			var divs = $('div[id*="overlay"]');
    			var closes = $('a[class*="closebtn"]')
    			navs.click(function(event){

    				 event.preventDefault();
             divs.eq($(this).index()).toggleClass('blocktoggle').siblings().removeClass('blocktoggle');


    			});
    				closes.bind("click",function(event){
    					event.preventDefault();
    					$(this).parent().removeClass('blocktoggle');
    				})


    			});


    </script>
    <!--Journey Planner overlay -->
    <div class="overlay" id="overlay1">
      <a href="javascript:void(0)" class="closebtn1" >&times;</a>

      <div id="journeyInfo">
        <h1> Journey Planner </h1>

            <div id="directionsPanel">
              <input id="directionsSource" class="controls" type="text" placeholder="Start">
              <input id="directionsDestination" class="controls" type="text" placeholder="End">
            </div>

            <div id="dateTime-panel">
              <div id="date">
                <input id="today" type="date" name="fname">
              </div>

              <div id="time">
                <input id="time-button" type="time" name="fname">
              </div>

              <button id="navigateButton">Navigate</button>
            </div>
            <div id="directionsSteps"></div>
              <p id="error"></p>
      </div>
    </div>

    <!--tourism overlay -->
    <div class="overlay" id="overlay2">
      <a href="javascript:void(0)" class="closebtn2" >&times;</a>

      <div id="touristInfo">
        <h1> Tourism Via Dublin Bus </h1>
      </div>
    </div>

    <!--favourites overlay -->
    <div class="overlay" id="overlay3">
      <a href="javascript:void(0)" class="closebtn3">&times;</a>
{#        <script>#}
{#        $(document).ready(function(){#}
{#          $('#logIn').load('/user/favourites');#}
{#        })#}
{#        </script>#}
      <div id="favouritesInfo">
        <h1> Your Favourites </h1>

      </div>
    </div>

    <!--FAQ overlay -->
    <div class="overlay" id="overlay4">
      <a href="javascript:void(0)" class="closebtn4" >&times;</a>
      <div id="FAQInfo">
        <h1> FAQ </h1>
      </div>
    </div>

    <!--contact info overlay -->
    <div class="overlay" id="overlay5">
      <a href="javascript:void(0)" class="closebtn5" >&times;</a>
      <div id="ContactInfo">
        <h1> Contact Information </h1>
        <h1> Send Us A Message </h1>
        <textarea rows="10" cols="50">
          Give us feedback about how we can make your
          experience on the Dublin Bus App better!!!
        </textarea>
        <input type="submit" value="Send">
      </div>
    </div>


    <!--traffic overlay -->
    <div class="overlay" id="overlay7">
      <a href="javascript:void(0)" class="closebtn7">&times;</a>
      <div id="trafficInfo">
        <h1> Current Traffic </h1>

        <!--checkbox-->
        <div id="checkbox_inline">
          <input type="checkbox" onchange="displayTraffic()" class="trafficInfo"/>
          <label for="traffic">Traffic</label>
        </div>

      </div>
    </div>

    <!--weather overlay -->
    <div class="overlay" id="overlay8">
      <a href="javascript:void(0)" class="closebtn8">&times;</a>
      <div id="weatherInfo">
        <h1> Current Weather </h1>

        <div class="weatherDescription">
        <canvas id="weatherIcon" width="128" height="128"></canvas>
        <div id="weather_heading"></div>
        </div>

            <hr>

            <div id="weather_stats"></div>

            <hr>

        <!--checkbox-->
        <div id="checkbox_inline">
          <input type="checkbox" onclick="displayHeatmap(this)"/>
          <label for="heatmap">Heat Map</label>
        </div>

      </div>
    </div>

    <!--logIn overlay -->
    <div class="overlay" id="overlay6">
      <a href="javascript:void(0)" class="closebtn6">&times;</a>
{#      <script>#}
{#        $(document).ready(function(){#}
{#          $('#logIn').load('/user/login');#}
{#        })#}
{#        </script>#}
      <div id="logIn">
{#        <h1> Log-In </h1>#}
{#            	<form method="post"  action= {% url "user:login" %}>#}
{#                        {% csrf_token %}#}
{#						<input type="text" name="username" class="name_input" value="{{ username }}" placeholder="please input email address">#}
{#						<div class="user_error">input wrong</div>#}
{#						<input type="password" name="pwd" class="pass_input" placeholder="please input password">#}
{#						<div class="pwd_error">input wrong</div>#}
{#						<div class="more_input clearfix">#}
{#							<input type="checkbox" name="remember" {{ checked }}>#}
{#							<label>Remember Name</label>#}
{#							<a href="forget_password">Forget Password</a>#}
{#						</div>#}
{#						<input type="submit" name="" value="Login in" class="input_submit">#}
{#					</form>#}
{##}
{#                {{ errmsg }}#}
      </div>
    </div>

    <div id="right-panel"></div>

    <!--The div element for the map -->
    <div id="map"></div>

    <!-- This section defines the date and time for overlay8 (navigation page) -->
    <script>
        $(document).ready(function(){
          $('#logIn').load('/user/login');
          $('#favouritesInfo').load('/user/favourites');
        })

      // used code from 'https://css-tricks.com/prefilling-date-input/'
      // this is used for a default of todays date
      let today = new Date().toISOString().substr(0, 10);
      document.querySelector("#today").value = today;

      // used code from 'https://codepen.io/rafaelcastrocouto/pen/Iyewu'
      // this is used for a default of the exact time
      $(function(){
      var d = new Date();
      var h = d.getHours();
      var m = d.getMinutes();
      if(h < 10) h = '0' + h;
      if(m < 10) m = '0' + m;
      $('input[type="time"]').each(function(){
        $(this).attr({'value': h + ':' + m});
      });
      });

      // Meihan is will potentially use this function for favourites page
      // $(document).ready(function(){#}
      //     $('#side_div').load('/user/test');#}
      // })
  </script>

  <!-- This is the map section -->
  <script>

      function initMap(){

      var map, directionService, directionsDisplay, autoSrc, autoDest, pinA, pinB;

      markerA = new google.maps.MarkerImage('marker.png')
                    new google.maps.Size(24, 27),
                    new google.maps.Point(0, 0),
                    new google.maps.Point(12, 27),

      markerB = new google.maps.MarkerImage('marker.png'),
                    new google.maps.Size(24, 28),
                    new google.maps.Point(0, 0),
                    new google.maps.Point(12, 28);


      // Caching the Selectors
      $Selectors = {
          map: jQuery('#map')[0], //good
          directionsPanel: jQuery('#directionsPanel'), //good
          dirInputs: jQuery('.directionInputs'),
          dirSrc: jQuery('#directionsSource'), //good
          dirDst: jQuery('#directionsDestination'), //good
          navBtn: jQuery('#navigateButton'), //good
          directionsSteps: jQuery('#directionsSteps'), //good
          paneToggle: jQuery('#paneToggle'),
          useGPSBtn: jQuery('#useGPS'),
          paneResetBtn: jQuery('#paneReset')
      };

      // https://thewebstorebyg.wordpress.com/2013/01/11/custom-directions-panel-with-google-maps-api-v3/
      function autoCompleteSetup(){
          input1 = document.getElementById('directionsSource');
          searchBox1 = new google.maps.places.Autocomplete(input1);
          searchBox1.setComponentRestrictions(
                {'country': ['irl']});

          input2 = document.getElementById('directionsDestination');
          searchBox2 = new google.maps.places.Autocomplete(input2);
          searchBox2.setComponentRestrictions(
                {'country': ['irl']});
      } //autoCompleteSetup Ends

      directionsSetUp = function(){
          directionsService = new google.maps.DirectionsService();
          directionsDisplay = new google.maps.DirectionsRenderer({
          suppressMarkers: false
          });
        } //directionsSetUp Ends

        function trafficSetup() {
        // Creating a Custom Control and appending it to the map
        var controlDiv = document.createElement('div'),
            controlUI = document.createElement('div'),
            trafficLayer = new google.maps.TrafficLayer();

        jQuery(controlDiv).addClass('gmap-control-container').addClass('gmnoprint');
        jQuery(controlUI).text('Traffic').addClass('gmap-control');
        jQuery(controlDiv).append(controlUI);

        // Traffic Btn Click Event
        google.maps.event.addDomListener(controlUI, 'click', function() {
            if (typeof trafficLayer.getMap() == 'undefined' || trafficLayer.getMap() === null) {
                jQuery(controlUI).addClass('gmap-control-active');
                trafficLayer.setMap(map);
            } else {
                trafficLayer.setMap(null);
                jQuery(controlUI).removeClass('gmap-control-active');
            }
        });
        map.controls[google.maps.ControlPosition.TOP_RIGHT].push(controlDiv);
    } // trafficSetup Ends


        function mapSetUp(){
          map = new google.maps.Map(document.getElementById('map'),{
          //map = new google.maps.Map($Selectors.map, {
                zoom: 13,
                //latitude and longitude of Dublin (Spire)
                center: new google.maps.LatLng(53.3498, -6.2603),
                mapTypeId: google.maps.MapTypeId.ROADMAP,

                mapTypeControl: true,
                mapTypeControlOptions: {
                style: google.maps.MapTypeControlStyle.DEFAULT,
                position: google.maps.ControlPosition.TOP_RIGHT
                },

                panControl: true,
                panControlOptions: {
                position: google.maps.ControlPosition.RIGHT_TOP
                }
          });

          autoCompleteSetup();
          directionsSetUp();
        } //mapSetUp Ends


        DirectionsRenderer = function(source, destination){
            directionsDisplay.setPanel(document.getElementById('directionSteps'));
            directionsDisplay.setMap(map);

            var request = {
              origin: source,
              destination: destination,
              provideRouteAlternatives: true,
              travelMode: google.maps.DirectionsTravelMode.TRANSIT
            };

            directionsService.route(request, function(response, status){
              if (status == google.maps.DirectionsStatus.OK){

                directionsDisplay.setDirections(response);
                directionsDisplay.setPanel(document.getElementById('directionsSteps'));

                var _route = response.routes[0].leg[0];

                pinA = new google.maps.Marker({
                  position: _route.start_location,
                  map: map,
                  icon: markerA
                }),

                pinB = new google.maps.Marker({
                  position: _route.end_location,
                  map: map,
                  icon: markerB
                });
              }
            });
          } //DirectionsRenderer Ends

          //   var userLatLng;
          // function fetchAddress(userLatLng){
          //   userLatLng = new google.maps.LatLng(position.coords.latitude, position.coord.longitude);
          //   var Locater = new google.maps.Geocoder();
          //
          //   Locater.geocode({ 'LatLng' : Position }, function(results, status){
          //       if(status == google.maps.GeocoderStatus.OK){
          //         var _r = results[0];
          //         document.getElementById("directionsSource").val(_r.formatted_address)
          //       }
          //   });
          // } //fetchAddress Ends
          //
          // function writeAddressName(latLng) {
          //     var geocoder = new google.maps.Geocoder();
          //     geocoder.geocode({
          //               "location": latLng
          //             },
          //             function (results, status) {
          //               if (status == google.maps.GeocoderStatus.OK)
          //                 document.getElementById("address").innerHTML = results[0].formatted_address;
          //               else
          //                 document.getElementById("error").innerHTML += "Unable to retrieve your address" + "<br />";
          //             });
          //   }
          //
          //   //Lat and Long of users exaxt location
          //   userLatLng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);

            function invokeEvents(){
              $('#navigateButton').on('click',function(event){
              //$Selectors.navBtn.on('click', function(event){
                event.preventDefault();
                //var src = document.getElementById('directionsSource').val();
                //var dst = document.getElementById('directionsDestination').val();
                var src = $Selectors.dirSrc.val();
                var dst = $Selectors.dirDst.val();

                DirectionsRenderer(src, dst);
              });
            } //invokeEvents Ends
            mapSetUp();
            invokeEvents();
            trafficSetup();


        // //Draw a circle around the user position to have an idea of the current localization accuracy
        // var circle = new google.maps.Circle({
        //     center: userLatLng,
        //     radius: position.coords.accuracy,
        //     map: map,
        //     fillColor: '#0000FF',
        //     fillOpacity: 0.5,
        //     strokeOpacity: 0,
        // });
        // map.fitBounds(circle.getBounds());



              $.ajax({
                'async' : 'true',
                'url': "{% static 'json/stops_info.json' %}",
                'type': 'get',
                'dataType':'json',
              }).done(function(obj){
                console.log(obj);
              for (var i = 0; i < obj.length; i++) {
                  var stops = obj;
                  stops[i] = {'lat': obj[i].stop_lat, 'lng': obj[i].stop_lon};
              }

              // The location of Dubin
              var dublin = {lat: 53.3498, lng: -6.2603};


              var markers = stops.map(function (location, i) {
                  return new google.maps.Marker({
                      position: location,
                      map: map,
                      // icon: markerImage,
                      // label: labels[i % labels.length]
                  });
              });
              var contentString = 'pppp';
              var infowindow = new google.maps.InfoWindow({
                  content: ''
              });

              for (var i = 0; i < markers.length; i++) {
                  var marker = markers[i];
                  // bindInfoWindow(marker, map, infowindow, content_html);
                  // marker.addListener('click', function () {
                  //     infowindow.open(map, marker);
                  // });
                  //     // console.log("var markers");
                  var markerCluster = new MarkerClusterer(map, markers,
                      {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});

              }
        });

    }; //InitMap Ends

    // function geolocationError(positionError) {
    //     document.getElementById("error").innerHTML += "Error: " + positionError.message + "<br />";
    // } //geolocationError Ends
    //
    // function geolocateUser() {
    //     // If the browser supports the Geolocation API
    //     if (navigator.geolocation) {
    //         console.log("geolocater executed");
    //         var positionOptions = {
    //             enableHighAccuracy: true,
    //             timeout: 10 * 1000,
    //         };
    //
    //         navigator.geolocation.getCurrentPosition(initMap, geolocationError, positionOptions);
    //     } else
    //         document.getElementById("error").innerHTML += "Your browser doesn't support the Geolocation API";
    // } //geolocateUser Ends
    //
    // window.onload = geolocateUser


  //Display Traffic Layer
//   function displayTraffic(){
//       $("#trafficInfo").click(function () {
//         if ($('input:radio[name=traffic]').attr('checked',true)){
//
//           trafficLayer.setMap('#map');
//         }else {
//           //$('input:radio[name=traffic]').attr('checked',false);
//       }    trafficLayer.setMap(null);
//   });
// }

//           function displayTraffic(checkbox){
//             $('#trafficInfo').on('click', function()){
//               if (checkbox.checked){
//                   trafficLayer.setMap(map);
//               } else {
//                   trafficLayer.setMap(null);
//               }
//           };
// });

  // function writeAddressName(latLng) {
  //   var geocoder = new google.maps.Geocoder();
  //   geocoder.geocode({
  //     "location": latLng
  //   },
  //   function(results, status) {
  //     if (status == google.maps.GeocoderStatus.OK)
  //       document.getElementById("pac-input1").innerHTML = results[0].formatted_address;
  //     else
  //       document.getElementById("error").innerHTML += "Unable to retrieve your address" + "<br />";
  //   });
  // }
  // // Initialize and add the map;
  // var map;
  // var heatmap;
  // var userLatLng;


  // function initMap(position) {

    /// Direction Variables
    // directionsService = new google.maps.DirectionsService;
    // directionsDisplay = new google.maps.DirectionsRenderer;

    /// Direction Display
    // directionsDisplay.setMap(map);

//     // Lat and Long of users exaxt location
//     userLatLng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
//
//     // Write the formatted address
//     console.log(writeAddressName(userLatLng));
//
//     // The location of Dubin
//     var dublin = {lat: 53.3498, lng: -6.2603};
//     // The map, centered in Dublin
//     map = new google.maps.Map(
//         document.getElementById('map'), {zoom: 14, center: dublin, mapTypeId: google.maps.MapTypeId.HYBRID});
//
//
//     // handler for displaying map and text direction results
//     var onChangeHandler = function() {
//     calculateAndDisplayRoute(directionsService, directionsDisplay);
//     };
//
//     // create traffic layer variable
//     trafficLayer = new google.maps.TrafficLayer();
//
//     // create heatmap layter variable
//     heatmap = new google.maps.visualization.HeatmapLayer({
//     data: getPoints(),
//     });
//
//     // will search once destination is inserted
//     document.getElementById('pac-input2').addEventListener('change', onChangeHandler);
//
//     // Create the search box and link it to the UI element. 1
//     var input1 = document.getElementById('pac-input1');
//     var searchBox1 = new google.maps.places.Autocomplete(input1);
//     searchBox1.setComponentRestrictions(
//       {'country': ['irl']});
//
//     // Create the search box and link it to the UI element. 2
//     var input2 = document.getElementById('pac-input2');
//     var searchBox2 = new google.maps.places.Autocomplete(input2);
//     searchBox2.setComponentRestrictions(
//       {'country': ['irl']});
//
//     // Draw a circle around the user position to have an idea of the current localization accuracy
//     var circle = new google.maps.Circle({
//       center: userLatLng,
//       radius: position.coords.accuracy,
//       map: map,
//       fillColor: '#0000FF',
//       fillOpacity: 0.5,
//       strokeOpacity: 0,
//     });
//     map.fitBounds(circle.getBounds());
// }
//     function getPoints() {
//         return [
//           new google.maps.LatLng(53.3505, -6.2610),
//           new google.maps.LatLng(53.3504, -6.2609),
//           new google.maps.LatLng(53.3503, -6.2608),
//           new google.maps.LatLng(53.3502, -6.2607),
//           new google.maps.LatLng(53.3501, -6.2606),
//           new google.maps.LatLng(53.3500, -6.2605),
//           new google.maps.LatLng(53.3499, -6.2604),
//           new google.maps.LatLng(53.3498, -6.2603),
//           new google.maps.LatLng(53.3497, -6.2602),
//           new google.maps.LatLng(53.3496, -6.2601),
//           new google.maps.LatLng(53.3495, -6.2600),
//           new google.maps.LatLng(53.3494, -6.2599),
//           new google.maps.LatLng(53.3493, -6.2598),
//           new google.maps.LatLng(53.3492, -6.2597),
//           new google.maps.LatLng(53.3491, -6.2596)
//         ];
//     }
//
//         //Display Heat Map Layer
//         function displayHeatmap(checkbox){
//           if(checkbox.checked){
//             heatmap.setMap(map);
//           } else {
//             heatmap.setMap(null);
//           }
//         }
//
//         // Display Traffic Layer
//         function displayTraffic(checkbox){
//
//           if (checkbox.checked){
//             trafficLayer.setMap(map);
//           } else {
//             trafficLayer.setMap(null);
//           }
//         }
//
//
//           function calculateAndDisplayRoute(directionsService, directionsDisplay) {
//             directionsService.route({
//               origin: document.getElementById('pac-input1').value,
//               destination: document.getElementById('pac-input2').value,
//               travelMode: 'TRANSIT'
//             }, function(response, status) {
//               if (status === 'OK') {
//                 directionsDisplay.setDirections(response);
//                 directionsDisplay.setPanel(document.getElementById('directionSteps'));
//               } else {
//                 window.alert('Directions request failed due to ' + status);
//               }
//             });
//           }
//
//     // Display if there is an error with the geolocation
//     function geolocationError(positionError) {
//       document.getElementById("error").innerHTML += "Error: " + positionError.message + "<br />";
//     }
//
//     function geolocateUser() {
//       // If the browser supports the Geolocation API
//       if (navigator.geolocation)
//       {
//         var positionOptions = {
//           enableHighAccuracy: true,
//           timeout: 10 * 1000 // 10 seconds
//         };
//         navigator.geolocation.getCurrentPosition(initMap, geolocationError, positionOptions);
//       }
//       else
//         document.getElementById("error").innerHTML += "Your browser doesn't support the Geolocation API";
//     }
//
//     window.onload = geolocateUser;
    </script>




    <!--This section includes the onclick navBar with Overlay-->
    <script>

      // function on(element_num){
      //   var elem;
      //   switch (element_num) {
      //     case 1:
      //       elem = "overlay1";
      //       break;
      //     case 2:
      //       elem = "overlay2";
      //       break;
      //     case 3:
      //       elem = "overlay3";
      //       break;
      //     case 4:
      //       elem = "overlay4";
      //       break;
      //     case 5:
      //       elem = "overlay5";
      //       break;
      //     case 6:
      //       elem = "overlay6";
      //       break;
      //     case 7:
      //       elem = "overlay7";
      //       break;
      //   }
      //
      //   document.getElementById(elem).style.display="block"
      //
      //
      // }
      //
      // function off(element_num){
      //   var elem;
      //   switch (element_num) {
      //     case 1:
      //       elem = "overlay1";
      //       break;
      //     case 2:
      //       elem = "overlay2";
      //       break;
      //     case 3:
      //       elem = "overlay3";
      //       break;
      //     case 4:
      //       elem = "overlay4";
      //       break;
      //     case 5:
      //       elem = "overlay5";
      //       break;
      //     case 6:
      //       elem = "overlay6";
      //       {% if user.is_authenticated %}
      //
      //       {% endif%}
      //       break;
      //     case 7:
      //       elem = "overlay7";
      //       break;
      //     case 8:
      //       elem = "overlay8";
      //       break;
      //   }
      //   document.getElementById(elem).style.display="none"
      // }

        function on8() {
            $.ajax({
              'url': "{% url "prediction:weather" %}",
              'type': 'get',
              'dataType':'json',
            }).done(function(data_total){
            var data = data_total.currently;
            var data_hourly = data_total.hourly;
            var weatherDescription = data.summary;
            displayDescription = ("It Feels Like " + weatherDescription);

            $('#weather_heading').show().html(displayDescription);

            var weatherIcon = data.icon;
            //var weatherIcon = "snow";
            var icons = new Skycons({"color": "white"});

              switch(weatherIcon){
                case "clear-day":
                  icons.set("weatherIcon", Skycons.CLEAR_DAY);
                  break;
                case "clear-night":
                  icons.set("weatherIcon-night", Skycons.CLEAR_NIGHT);
                  break;
                case "partly-cloudy-day":
                  icons.set("weatherIcon", Skycons.PARTLY_CLOUDY_DAY);
                  break;
                case "partly-cloudy-night":
                  icons.set("weatherIcon", Skycons.PARTLY_CLOUDY_NIGHT);
                  break;
                case "cloudy":
                  icons.set("weatherIcon", Skycons.CLOUDY);
                  break;
                case "rain":
                  icons.set("weatherIcon", Skycons.RAIN);
                  break;
                case "sleet":
                  icons.set("weatherIcon", Skycons.SLEET);
                  break;
                case "snow":
                  icons.set("weatherIcon", Skycons.SNOW);
                  break;
                case "wind":
                  icons.set("weatherIcon", Skycons.WIND);
                  break;
                case "fog":
                  icons.set("weatherIcon", Skycons.FOG);
                  break;
              }
              icons.play();

            //converting fahrenheit to celsius
            var temp = Math.round((data.temperature - 32) * 5/9);

            //converting miles to kilometers
            var wind_speed = Math.round(data.windSpeed * 1.609);

            // conversity humidity to a percentage
            var humidity = Math.round(data.humidity * 100);

            // Displaying Temperature
            var displayTemp = ("Current Temperature: " + temp + " oC");

            // Displaying Wind Speed
            var displayWind = ("Wind Speed: " + wind_speed + " kph!");

            // Displaying humidity
            var displayHumidity = ("Humidity: " + humidity + "%");

            //Display Weather Stats on overlay8
            $('#weather_stats').show().html(displayTemp + "<br/>" + displayWind + "<br/>" + displayHumidity);
          })
        } // On8: AKA WeatherDisplay Ends
      </script>

  </body>
</html>
