<!DOCTYPE HTML>
<html>
<head>
    {% load staticfiles %}
<title>Logout</title>
<!-- Custom Theme files -->
<link href="{% static 'css/user_info_style.css' %}" rel="stylesheet" type="text/css" media="all"/>
     <!--the use of jquery in javascript - may not need later-->
      <script src="https://code.jquery.com/jquery-1.10.2.js"></script>

<!-- for-mobile-apps -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
	<div class="wrap">
		<div class="profile-main">
			<div class="profile-pic wthree">
                {% csrf_token %}


                {% if user.is_authenticated %}
                <img id="id_avatar" src="{{ user.user_profile.url }}" alt="">
				<h2 id="id_username">{{ user.username }}</h2>
				<p id="id_email">{{ user.email }}</p>
                {% endif %}
			</div>
			<div class="w3-message">
{#				<h5>About Me</h5>#}
{#				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec erat sapien, lobortis id felis eu, egestas venenatis nisl.</p>#}
				<div class="wthree_tab_grid_sub">
					<div class="wthree_tab_grid_sub_left">
						<h5>HOME</h5>
					</div>
					<div class="wthree_tab_grid_sub_left">
						<h5>WORK</h5>
					</div>
					<div class="wthree_tab_grid_sub_left">
						<h5>FAVs</h5>
					</div>
					<div class="clear"> </div>
				</div>
			</div>
		</div>
		<div class="wthree_footer_copy">
			<p>© 2019 Design by BoldToads</p>
		</div>
	</div>
<script>
    $(function(){
        var token = $('input[name="csrfmiddlewaretoken"]').val()
    window.onload = function(){
        $.ajax({
            type: "POST",
            url: 'http://127.0.0.1:8000/user/change_avatar',
            async: true,
            data: {"csrfmiddlewaretoken": token,},
            success:function(result){
            var msg = ""
                $('#id_username').html(result.user_name)
            $('#id_email').html(result.email)
            $('#id_avatar').attr("src",result.avatar);
            },
            error:function(){
                console.log('change avatar fail')
            },
        })
    }
})
</script>
</body>
</html>