<!DOCTYPE html>
<html>
{% load staticfiles %}
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
      <!--the use of jquery in javascript - may not need later-->
        <script src="https://code.jquery.com/jquery-1.10.2.js"></script>

    <title>Info Windows</title>
  </head>
  <body>
    <div id="content">
        <h2 class=""firstHeading>Stillorgan Road</h2>
        <h3 class=""firstHeading>Stop 768</h3>
        <input type="text" id="stop_id" value="768" hidden>
{#        <a href="" ><img src="../static/images/star_icon.png"></a>#}
            {% csrf_token %}
        <button type="button" id="addFav" hidden>Add Favourite</button>
        <button type="button" id="removeFav" hidden>Remove Favourite</button>
        <div id="bodyContent">
        <ul>
            <li><a id="39A">39A</a> </li>
{#            <li><a href = "{% url 'user:bus_info' busid='46A' %}" id="46A">46A</a></li>#}
            <li><a id="46A">46A</a></li>
            <li><a id="155">155</a></li>
            <li><a id="145">145</a></li>
            <li><a id="47">47</a></li>
        </ul>
        </div>
        <div id="test_error">&nbsp;</div>
        <div id="bus_info" hidden>
        <h3 id="busid"></h3>
        <p>From <span id="start_point">UCD</span> to <span id="end_point">CITY CENTER</span> </p>
      <input type="text" id="bus_id" value="39A" hidden>
      <button type="button" id="addFav_bus" hidden>Add Favourite</button>
      <button type="button" id="removeFav_bus" hidden>Remove Favourite</button>
        </div>
    </div>

  <script>
      var test
      $(function(){
          $.ajaxSetup({
                 data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
            });

          window.onload=function(){
              $.ajax({
                type:"GET",
                url: 'http://127.0.0.1:8000/user/favorite_stop',
                async: true,
                success:function(result){
                    var msg = "#addFav"
                    // console.log(result['user_bus_list'][0]['bus_number'])
                    for(var i =0; i < result['user_stop_list'].length; i++){
                        // console.log(result['user_stop_list'][i])
                        if (result['user_stop_list'][i] == $('#stop_id').val()){
                            msg = "#removeFav"
                        }
                    }
                    $(msg).show()
                },
                error:function(){
                    console.log('show button fail')
                },
            })

          }

          var stop_id = $('#stop_id').val()

          $('#addFav').on('click',function(){
		        $.ajax({
			        cache:false,
			        type: "POST",
			        url:"http://127.0.0.1:8000/user/favorite_stop",
			        data:{'stop_id':stop_id,},
			        async:true,
			        success:function(result){
				        $('#addFav').hide();
				        $('#removeFav').show();
				        alert(result);
			        },
			        error: function(){
				        alert("add failed");
			        },
		        });
	        });

          $('#removeFav').on('click',function(){
		        $.ajax({
			        cache:false,
			        type: "DELETE",
			        url:"http://127.0.0.1:8000/user/favorite_stop",
			        data:{'stop_id':stop_id,},
			        async:true,
			        success:function(result){
				        $('#addFav').show();
				        $('#removeFav').hide();
				        alert(result);
			        },
			        error: function(){
				        alert("remove failed");
			        },
		        });
	        });
      })

      $(document).ready(function(){
          $("a").each(function(){
              $(this).click(function(){
                  console.log("a.click")
                  $.ajax({
                      ache:false,
                      type: "POST",
			          url:"http://127.0.0.1:8000/user/bus_info",
			          data:{'bus_id':$(this).text(),},
			          async:true,
			          success:function(result){
                          $('#busid').html(result)
                          $('#bus_id').val(result)
                          $('#addFav_bus').hide();
                          $('#removeFav_bus').hide();
                          $('#bus_info').show()

                          test=result
                          console.log($('#bus_id').val())
                          $.ajax({
                            type:"GET",
                            url: 'http://127.0.0.1:8000/user/favorite_bus_number',
                            async: true,
                            success:function(result){
                                var msg = "#addFav_bus"
                                // console.log(result['user_bus_list'][0]['bus_number'])
                                for(var i =0; i < result['user_bus_list'].length; i++){
                                    // console.log(result['user_stop_list'][i])
                                    if (result['user_bus_list'][i]['bus_number'] == $('#bus_id').val()){
                                        msg = "#removeFav_bus"
                                    }
                                }
                                $(msg).show()
                            },
                            error:function(){
                                console.log('show button fail')
                            },
                        })



                          var bus_id = $('#bus_id').val()


                      },
                      error: function(){
                          alert("false");
                      },
                  })
              })
          })
      })
  </script>
    <script>

        $(function(){

                          var start = $('#start_point').text()
                          var end = $('#end_point').text()
            $('#addFav_bus').on('click',function(){
                $.ajax({
                    cache:false,
                    type: "POST",
                    url:"http://127.0.0.1:8000/user/favorite_bus_number",
                    data:{'bus_number':test, 'start_point': start, 'end_point': end,},
                    async:true,
                    success:function(result){
                        $('#addFav_bus').hide();
                        $('#removeFav_bus').show();
                        alert(result);
                    },
                    error: function(){
                        alert("add failed");
                    },
                });
            });


            $('#removeFav_bus').on('click',function(){
                $.ajax({
                    cache:false,
                    type: "DELETE",
                    url:"http://127.0.0.1:8000/user/favorite_bus_number",
                    data:{'bus_number':test, 'start_point': start, 'end_point': end,},
                    async:true,
                    success:function(result, status, xml){
                        $('#addFav_bus').show();
                        $('#removeFav_bus').hide();
                        alert(result);
                    },
                    error: function(){
                        alert("delete failed");
                    },
                });
            });
        })
    </script>
{##}
{#  <script>#}
{#      $(function(){#}
{#          $.ajaxSetup({#}
{#              data: {csrfmiddlewaretoken: '{{ csrf_token }}' },#}
{#            });#}
{#              $.ajax({#}
{#                type:"GET",#}
{#                url: 'http://127.0.0.1:8000/user/favorite_bus_number',#}
{#                async: true,#}
{#                success:function(result){#}
{#                    var msg = "#addFav_bus"#}
{#                    // console.log(result['user_bus_list'][0]['bus_number'])#}
{#                    for(var i =0; i < result['user_bus_list'].length; i++){#}
{#                        // console.log(result['user_stop_list'][i])#}
{#                        if (result['user_bus_list'][i]['bus_number'] == $('#bus_id').val()){#}
{#                            msg = "#removeFav_bus"#}
{#                        }#}
{#                    }#}
{#                    $(msg).show()#}
{#                },#}
{#                error:function(){#}
{#                    console.log('show button fail')#}
{#                },#}
{#            })#}
{##}
{##}
{#          var bus_id = $('#bus_id').val()#}
{#          var start = $('#start_point').text()#}
{#          var end = $('#end_point').text()#}
{##}
{#          $('#addFav_bus').on('click',function(){#}
{#		        $.ajax({#}
{#			        cache:false,#}
{#			        type: "POST",#}
{#			        url:"http://127.0.0.1:8000/user/favorite_bus_number",#}
{#			        data:{'bus_number':bus_id, 'start_point': start, 'end_point': end,},#}
{#			        async:true,#}
{#			        success:function(result){#}
{#				        $('#addFav_bus').hide();#}
{#				        $('#removeFav_bus').show();#}
{#				        alert(result);#}
{#			        },#}
{#			        error: function(){#}
{#				        alert("add failed");#}
{#			        },#}
{#		        });#}
{#	        });#}
{##}
{#          $('#removeFav_bus').on('click',function(){#}
{#		        $.ajax({#}
{#			        cache:false,#}
{#			        type: "DELETE",#}
{#			        url:"http://127.0.0.1:8000/user/favorite_bus_number",#}
{#			        data:{'bus_number':bus_id, 'start_point': start, 'end_point': end,},#}
{#			        async:true,#}
{#			        success:function(result, status, xml){#}
{#				        $('#addFav_bus').show();#}
{#				        $('#removeFav_bus').hide();#}
{#				        alert(result);#}
{#			        },#}
{#			        error: function(){#}
{#				        alert("delete failed");#}
{#			        },#}
{#		        });#}
{#	        });#}
{#      })#}
{#  </script>#}
  </body>
</html>