

<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
 
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <title>active your email</title>
 <script type="text/javascript" src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/active_email.js' %}"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>
<body>
 
 
  <div class="out" id="active_email_div">
    <h1>Dear {{user.username}}:</h1>
    <h2>Your email is :{{user.email}}</h2>
    {% if error_msg %}    
    <h2>{{ error_msg }}</h2>
    {% else %}
    <h2>you can click the button below to active your account</h2>
    <form method="post" >
      {% csrf_token %}
      <p><input type="button" value="submit" id="activeEmail"></p>
    </form>
    {% endif %}
  </div>
 
</body>
</html>