<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <title>bus info</title>
    <!--the use of jquery in javascript - may not need later-->
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>

</head>
<body>
<div>
{#    <form method="post">#}
        {% csrf_token %}
      <h3>39A</h3>
        <p>From <span id="start_point">UCD</span> to <span id="end_point">CITY CENTER</span> </p>
        <div>{{ data }}</div>
      <input type="text" id="bus_id" value="39A" hidden>
      <button type="button" id="addFav" hidden>Add Favourite</button>
      <button type="button" id="removeFav" hidden>Remove Favourite</button>
{#</form>#}
</div>
{#<script>#}
{#      $(function(){#}
{#          window.onload=function(){#}
{#              $.ajax({#}
{#                type:"GET",#}
{#                url: 'http://127.0.0.1:8000/user/favorite_bus_number',#}
{#                async: true,#}
{#                success:function(result){#}
{#                    var msg = "#addFav"#}
{#                    // console.log(result['user_bus_list'][0]['bus_number'])#}
{#                    for(var i =0; i < result['user_bus_list'].length; i++){#}
{#                        // console.log(result['user_stop_list'][i])#}
{#                        if (result['user_bus_list'][i]['bus_number'] == $('#bus_id').val()){#}
{#                            msg = "#removeFav"#}
{#                        }#}
                        {#msg += "<li><a href='#'>"+result['user_bus_list'][i]['bus_number']+"</a></li>"#}
{#                    }#}
{#                    $(msg).show()#}
{#                },#}
{#                error:function(){#}
{#                    console.log('show button fail')#}
{#                },#}
{#            })#}
{##}
{#          }#}
{##}
{#          var bus_id = $('#bus_id').val()#}
{#          var start = $('#start_point').text()#}
{#          var end = $('#end_point').text()#}
{##}
{#          $('#addFav').on('click',function(){#}
{#		        $.ajax({#}
{#			        cache:false,#}
{#			        type: "POST",#}
{#			        url:"http://127.0.0.1:8000/user/favorite_bus_number",#}
{#			        data:{'bus_number':bus_id, 'start_point': start, 'end_point': end,},#}
{#			        async:true,#}
{#			        success:function(result){#}
{#				        $('#addFav').hide();#}
{#				        $('#removeFav').show();#}
{#				        alert(result);#}
{#			        },#}
{#			        error: function(){#}
{#				        alert("add failed");#}
{#			        },#}
{#		        });#}
{#	        });#}
{##}
{#          $('#removeFav').on('click',function(){#}
{#		        $.ajax({#}
{#			        cache:false,#}
{#			        type: "DELETE",#}
{#			        url:"http://127.0.0.1:8000/user/favorite_bus_number",#}
{#			        data:{'bus_number':bus_id, 'start_point': start, 'end_point': end,},#}
{#			        async:true,#}
{#			        success:function(result, status, xml){#}
{#				        $('#addFav').show();#}
{#				        $('#removeFav').hide();#}
{#				        alert(result);#}
{#			        },#}
{#			        error: function(){#}
{#				        alert("delete failed");#}
{#			        },#}
{#		        });#}
{#	        });#}
{#      })#}
{#  </script>#}
</body>
</html>