<!DOCTYPE html>
<html lang="en">
<head>
<body>
<h1> Contact Us </h1>
<hr>
<div class="contact-panel" id="contact-panel">
              {% csrf_token %}
  <form id="contact_info">
    <div class="row">
      <label>Full name *
          {% if user.is_authenticated %}
              <input type="text" value="{{ user.username }}">
          {% else %}
              <input type="text" placeholder="Full name">
          {% endif %}

      </label>
    </div>
    <div class="row">
      <label>Email *
          {% if user.is_authenticated %}
              <input type="email" value="{{ user.email }}">
          {% else %}
              <input type="email" placeholder="Email address">
          {% endif %}

      </label>
    </div>
    <div class="row">
        <label>Message *
            {% if user.is_authenticated %}
                <textarea placeholder="Describe your needs" rows="3"></textarea>
            {% else %}
                <textarea placeholder="Describe your needs" rows="3"></textarea>
            {% endif %}
      </label>
    </div>
    <div class="contact-panel-actions">
      <input type="submit" class="button" id="contact-submit-button" value="Submit">
    </div>
  </form>


</div>
</body>
<script>
    $('#contact_info').submit(function(){
		var contact = $('textarea[name="contact"]').val()
		var token = $('input[name="csrfmiddlewaretoken"]').val()
		$.ajax({
			cache:false,
			type: "POST",
			url: window.location.protocol+"//"+window.location.host+"/user/contact",
			data:{'contact': contact,'csrfmiddlewaretoken':token},
			dataType:'json',

			async:false,

			}).done(function(result){
				 if(result.res == 1){
					 window.confirm(result.success_msg);
                    }else {
                    	window.confirm(result.error_msg);
				 	}
			}).fail(function(){
				alert("false1");
			});
		return false;
	});
</script>
</html>
