<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
     <!--the use of jquery in javascript - may not need later-->
        <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script type="text/javascript" src="{% static 'js/favourites.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/foundation.css' %}">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    <meta charset="UTF-8">
    <title>Favourites</title>
</head>
<body>
{% csrf_token %}
<button id="delete_favs">Manage Favourites</button>
<button id="submit_delete" hidden>Confirm Change</button>
<ul class="tabs" data-tabs id="tab-headers">
     <li class="tabs-title is-active" id="fav_stop"><a href="#panel1" aria-selected="true">Stops</a></li>
     <li class="tabs-title" id="fav_route"><a data-tabs-target="panel2" href="#panel2">Routes</a></li>
     <li class="tabs-title" id="fav_bus"><a data-tabs-target="panel3" href="#panel2">Buses</a></li>
</ul>
    <div class="tabs-content" data-tabs-content="tab-headers">
  <div class="tabs-panel is-active" id="panel1">
      <p>stop list</p>
      <ul id="stop_list" style="list-style: none">
                </ul>
  </div>
  <div class="tabs-panel" id="panel2">
      <p>routes list</p>
      <ul id="route_list" style="list-style: none">
      </ul>
  </div>
  <div class="tabs-panel" id="panel3">
      <p>bus list</p>
      <ul id="bus_list" style="list-style: none">
      </ul>
  </div>
    </div>
        <!--选项卡-->
{#    <div id="tab">#}
{#        <!--选项的头部-->#}
{#        <div id="tab-header">#}
{#            <ul style="list-style: none">#}
{#                <li class="selected" id="fav_route">Routes</li>#}
{#                <li id="fav_stop">Stops</li>#}
{#                <li id="fav_bus">Buses</li>#}
{#            </ul>#}
{#        </div>#}
{#        <!--主要内容-->#}
{#        <div id="tab-content">#}
{#            <div class="dom" style="display: block;">#}
{#                <ul id="route_list" style="list-style: none">#}
{#                </ul>#}
{#            </div>#}
{#            <div class="dom">#}
{#                <ul id="stop_list" style="list-style: none">#}
{#                </ul>#}
{#            </div>#}
{#            <div class="dom">#}
{#                <ul id="bus_list" style="list-style: none">#}
{#                </ul>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
</body>
</html>