<!DOCTYPE html>

<html>

{% load pwa %}
{% load staticfiles %}

  <head>

        {% progressive_web_app_meta %}

        <!--external stylesheet-->
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/overlay.css' %}">
        <link rel="stylesheet" href="{% static 'css/favourites_style.css' %}">

        <!--navBar Icons-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <!--Overlay-->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!--Google Fonts-->
        <link href="https://fonts.googleapis.com/css?family=Acme|Allerta+Stencil|DM+Serif+Text&display=swap" rel="stylesheet">

        <!--the use of jquery in javascript-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


        <!--MarkerCluster-->
        <script type="text/javascript" src="{% static 'js/markerclusterer.js' %}"></script>


        <!--Google Maps API-->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDHStlI-HbW16s4z0MEG3VCgiNirwGiDM4&libraries=places&callback,visualization&callback=initMap" defer>
        </script>

        <!--Map / Navigation / Tourism / Display Bus Stops-->
        <script type="text/javascript" src="{% static 'js/maps.js' %}"></script>

        <!-- importing the skycons for weather dipslay -->
        <script src="{% static 'js/skycons.js' %}"></script>

        <!-- will probs not need the link below! save for now! -->
        <!-- <script src="https://rawgithub.com/darkskyapp/skycons/master/skycons.js"></script> -->

        <!-- Path to manifest.json -->
        <link rel="manifest" crossorigin="use-credentials" href="{% static 'json/manifest.json' %}">
        <!-- "icons": [
            {
                "src": "",
                "color": "";
            }
        ] -->

        <!--title - dublin bus-->
        <title>Dublin Bus</title>

  </head>

  <body>

    <!-- header title -->
    <header>
      <h1 id="title">Dublin Bus | Journey Planner</h1>
    </header>

    <!-- Splash Screen Overlay -->
    <div id="splash_overlay">
      <div id="splash-content">
        <img src="{% static 'images/threeBusDub.png' %}"></img>
      </div>
    </div>

    <!--NavBar - displays overlays (above map)-->
    <ul id="nav">
      <li><a>Journey Planner</a></li>
      <li><a>Tourism</a></li>
      <li><a>Favourites</a></li>
      <li><a>FAQ</a></li>
      <li><a>Contact</a></li>
      <li style="float:right"><a onclick="on8()"><i class="fa fa-cloud"></i></a></li>
      <li style="float:right"><a ><i class="fa fa-user"></i></a></li>
    </ul>

    <!-- on/off toggle for overlays -->
    <script>
    		$(function(){
    			var navs = $('#nav li');
    			var divs = $('div[id*="overlay"]');
    			var closes = $('a[class*="closebtn"]')
    			navs.click(function(event){

    				 event.preventDefault();
             divs.eq($(this).index()+1).toggleClass('blocktoggle').siblings().removeClass('blocktoggle');
    			});
    				closes.bind("click",function(event){
    					event.preventDefault();
    					$(this).parent().removeClass('blocktoggle');
    				})
        });
    </script>

    <!--Journey Planner overlay -->
    <div class="overlay" id="overlay1">
      <a href="javascript:void(0)" class="closebtn" >&times;</a>

      <div id="journeyInfo">
        <h1> Journey Planner </h1>
            <div id="directionsPanel">
            {% csrf_token %}
              <button id="geoButton">Use Current Location</button>
              <input id="directionsSource" class="controls" type="text" placeholder="Start">
              <input id="directionsDestination" class="controls" type="text" placeholder="End">
            </div>

            <div id="dateTime-panel">
              <div id="date">
                <input id="rightNow" type="date" name="fname" value="2019-02-02">
              </div>

              <div id="time">
                <input id="time-button" type="time" name="fname">
              </div>

              <button id="navigateButton">Navigate</button>
            </div>
            <div id="directionsSteps"></div>
              <p id="error"></p>
      </div>
    </div>

    <!--tourism overlay -->
    <div class="overlay" id="overlay2">
      <a href="javascript:void(0)" class="closebtn" >&times;</a>
      <div id="touristInfo">
      <h1> What to do in Dublin </h1>

        <button id="tourismNatureBtn" class="tourismbutton">Nature</button>
        <button id="tourismDrinkBtn" class="tourismbutton">Breweries</button>
        <button id="tourismLandmarksBtn" class="tourismbutton">Landmarks</button>
        <button id="tourismMuseumsBtn" class="tourismbutton">Museums & Galleries</button>
        <button id="tourismChurchesBtn" class="tourismbutton">Churches</button>
        <div id="container"></div>
        <div class="touristInfo"></div>
      </div>

    </div>

    <!--favourites overlay -->
    <div class="overlay" id="overlay3">
      <a href="javascript:void(0)" class="closebtn">&times;</a>
      <div id="favouritesInfo"></div>
    </div>


    <!--FAQ overlay -->
    <div class="overlay" id="overlay4">
      <a href="javascript:void(0)" class="closebtn" >&times;</a>
      <div id="FAQInfo">
        <h1> FAQ </h1>
      </div>
    </div>

    <!--contact info overlay -->
    <div class="overlay" id="overlay5">
      <a href="javascript:void(0)" class="closebtn" >&times;</a>
      <div id="contactInfo"></div>
    </div>



    <!--weather overlay -->
    <div class="overlay" id="overlay8">
      <a href="javascript:void(0)" class="closebtn">&times;</a>
      <div id="weatherInfo">

        <h1> Current Weather </h1>

        <div class="weatherDescription">
        <canvas id="weatherIcon" width="128" height="128"></canvas>
        <div id="weather_heading"></div>
        </div>

            <hr>

            <div id="weather_stats"></div>

            <hr>

      </div>
    </div>

    <!--logIn overlay -->
    <div class="overlay" id="overlay6">
      <a href="javascript:void(0)" class="closebtn">&times;</a>
      <div id="logIn"></div>
    </div>

    <div id="right-panel"></div>

    <!--The div element for the map -->
    <div id="map"></div>

  </body>

</html>
