
<!doctype html>

<html class="no-js" lang="en" dir="ltr">

{% load pwa %}
{% load staticfiles %}

<head>

  {% progressive_web_app_meta %}

  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Foundation for Sites</title>




  <!--external stylesheet-->
  <meta charset="utf-8">
  <link rel="stylesheet" href="{% static 'css/app.css' %}">
  <link rel="stylesheet" href="{% static 'css/foundation.css' %}">
{#  <link rel="stylesheet" href="{% static 'css/foundation.min.css' %}">#}

  {#      <script type="text/javascript" src="{% static 'js/vendor/jquery.js' %}"></script>#}
  {#      <script type="text/javascript" src="{% static 'js/vendor/what-input.js' %}"></script>#}
  {#      <script type="text/javascript" src="{% static 'js/vendor/foundation.js' %}"></script>#}
  {#      <script type="text/javascript" src="{% static 'js/vendor/foundation.min.js' %}"></script>#}
  {#      <script type="text/javascript" src="{% static 'js/app.js' %}"></script>#}

  <meta name="apple-mobile-web-app-capable" content="yes">


  <!--navBar Icons-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!--Overlay-->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--Google Fonts-->
  <link href="https://fonts.googleapis.com/css?family=Acme|Allerta+Stencil|DM+Serif+Text&display=swap" rel="stylesheet">

  <!--the use of jquery in javascript-->
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/js/foundation.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/motion-ui/1.2.3/motion-ui.min.js"></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

  <!--MarkerCluster-->
  <script type="text/javascript" src="{% static 'js/markerclusterer.js' %}"></script>


  <!--Google Maps API-->
  <script
    src="https://maps.googleapis.com/maps/api/js?key={{ maps_api }}&libraries=places&callback,visualization&callback=initMap"
    defer>
  </script>



  <!--Map / Navigation / Tourism / Display Bus Stops-->
  <script type="text/javascript" src="{% static 'js/app.js' %}"></script>

  <!-- importing the skycons for weather dipslay -->
  <script src="{% static 'js/skycons.js' %}"></script>


  <!--title - dublin bus-->
  <title>Dublin Bus</title>


  <script>
    (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-2195009-2', 'auto');
    ga('send', 'pageview');
    
    ga('create', 'UA-2195009-27', 'auto', {
      name: "foundation"
    });
    ga('foundation.send', 'pageview');
  </script>
  
  </head>
  <body>

<header>
<div class="off-canvas-wrap" data-offcanvas>

<div class="off-canvas position-bottom" id="navigator" data-off-canvas data-transition="overlap">
<div class="grid-y grid-padding-x" style="height: 100%;">
<br>
<div class="cell shrink">
    <div class="offcanvas-full-screen-inner">
       <button class="close-button" aria-label="Close menu" type="button" data-close>
  <span aria-hidden="true">&times;</span>
</button>
    <h1 style="color:#e5e5e5;"> Journey Planner </h1>
            <div id="directionsPanel">
              {% csrf_token %}
              <button id="geoButton">Use Current Location</button>
              <input id="directionsSource" class="controls" type="text" placeholder="Start">
                <input id="switch_position" type="image" src="{% static 'images/switch.png' %}" style="width: 30px; height: 30px;"></button>
                <input id="directionsDestination" class="controls" type="text" placeholder="End">

            </div>
                 <div class='fav_buttons'>
                  <button class="button-like" id='addFav_route'  style="display: none"><i class="fa fa-star"></i></button>
                  <button class="button-dislike" id='removeFav_route'  style="display: none"><i class="fa fa-trash"></i></button>
                  <button class='login-required' data-toggle="stopPage userPage" hidden>Login and add as favourite</button>
                 </div>


            <div id="dateTime-panel">
              <div id="date">
                <input id="rightNow" type="date" name="fname" value="2019-02-02">
              </div>

              <div id="time">
                <input id="time-button" type="time" name="fname">
              </div>

              <button id="navigateButton">Navigate</button>
            </div>
            <div id="directionsSteps"></div>
              <p id="error"></p>
</div>
</div>
</div>
</div>

<div class="off-canvas position-bottom" id="tourismPage" data-off-canvas data-transition="overlap">
<div class="grid-y grid-padding-x" style="height: 100%;">
<br>
<div class="cell shrink">
    <div class="offcanvas-full-screen-inner">
     <button class="close-button" aria-label="Close menu" type="button" data-close>
  <span aria-hidden="true">&times;</span>
</button>
    <h1 style="color:#e5e5e5"> What to do in Dublin </h1>

        <button id="tourismNatureBtn" class="tourismbutton">Nature</button>
        <button id="tourismDrinkBtn" class="tourismbutton">Breweries</button>
        <button id="tourismLandmarksBtn" class="tourismbutton">Landmarks</button>
        <button id="tourismMuseumsBtn" class="tourismbutton">Museums & Galleries</button>
        <button id="tourismChurchesBtn" class="tourismbutton">Churches</button>
        <div id="container"></div>
        <div class="touristInfo"></div>
</div>
</div>
</div>
</div>

<div class="off-canvas position-left" id="tourismPage" data-off-canvas>
        <button class="close-button" aria-label="Close menu" type="button" data-close>
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="grid-y grid-padding-x" style="height: 100%;">
          <br>
          <div class="cell shrink">
            <h1> What to do in Dublin </h1>

            <button id="tourismNatureBtn" class="tourismbutton">Nature</button>
            <button id="tourismDrinkBtn" class="tourismbutton">Breweries</button>
            <button id="tourismLandmarksBtn" class="tourismbutton">Landmarks</button>
            <button id="tourismMuseumsBtn" class="tourismbutton">Museums & Galleries</button>
            <button id="tourismChurchesBtn" class="tourismbutton">Churches</button>
            <div id="container"></div>
            <div class="touristInfo"></div>
          </div>
        </div>
      </div>

<div class="off-canvas position-bottom" id="stopPage" data-off-canvas data-transition="overlap">
<div class="grid-y grid-padding-x" style="height: 100%;">
<br>
<div class="cell shrink">
    <div class="offcanvas-full-screen-inner">
      <button class="close-button" aria-label="Close menu" type="button" data-close>
  <span aria-hidden="true">&times;</span>
</button>
    {% csrf_token %}
    <ul class="tabs" data-tabs id="search-tab-headers">
                <li class="tabs-title is-active" id="search_stop_header"><a href="#stop-panel" aria-selected="true">Stops</a></li>
                <li class="tabs-title" id="search_route_header"><a data-tabs-target="bus-panel" href="#bus-panel">Routes</a></li>
    </ul>
    <div class="tabs-content" data-tabs-content="search-tab-headers">
        <div class="tabs-panel is-active" id="stop-panel">
              <div id="search-by-stop-div">
      <label>Type stop number or key word to select a stop:</label>
      <input type="text" id="search_stop" list="stop_datalist" />
      <datalist id="stop_datalist"></datalist>
      <button id="select_stop">Show Detail</button>
{#    </div>#}
    <div id="content">
      <div class='fav_buttons'>
          <button class="button-like" id='addFav'  style="display: none"><i class="fa fa-star"></i></button>
{#          <i class="button-like fa fa-star" id='addFav' style="display: none"></i>#}
          <button class="button-dislike" id='removeFav' style="display: none"><i class="fa fa-trash"></i></button>

          <button type='button' class='login-required' data-toggle="stopPage userPage" hidden>Login and add this stop as favourite</button>
      </div>
      <div></div>
      <div id="stop_content"></div>
    </div>
  </div>
        </div>

        <div class="tabs-panel" id="bus-panel">
            <div id="search-by-bus-div">
                <div id="busRoute">
              <label>Type bus number to select a bus route:</label>
              <input type="text" id="searchBusRoute" list="bus_datalist"  placeholder="Bus Route" class="controls"/>
              <datalist id="bus_datalist"></datalist>
              <button id="searchBus">Search</button>
            </div>
            <div id="route_content">

              <div class='fav_buttons'>
                  <button class="button-like" id='addFav_bus'  style="display: none"><i class="fa fa-star"></i></button>
                  <button class="button-dislike" id='removeFav_bus'  style="display: none"><i class="fa fa-trash"></i></button>
                  <button class='login-required' data-toggle="stopPage userPage" hidden>Login and add this route as favourite</button>
              </div>
              <div class='bus-details'style="display: none">
                  <h3 id="search-bus-id"></h3>
                  <p>From<span id="bus-departure"></span> to <span id="bus-destination"></span> </p>
              </div>
            </div>
            </div>
        </div>
    </div>

</div>
</div>
</div>
</div>


<div class="off-canvas position-bottom" id="favsPage" data-off-canvas data-transition="overlap">
<div class="grid-y grid-padding-x" style="height: 100%;">
<br>
<div class="cell shrink">
    <button class="close-button" aria-label="Close menu" type="button" data-close>
  <span aria-hidden="true">&times;</span>
</button>
    </button>
        {% csrf_token %}
        {% if user.is_authenticated %}
            <button id="delete_favs" class="edit-favourite-button">Manage Favourites</button>
            <button id="submit_delete" class="confirm-favourite-button" hidden>Confirm Change</button>
            <ul class="tabs" data-tabs id="tab-headers">
              <li class="tabs-title is-active" id="fav_stop"><a href="#panel1" aria-selected="true">Stops</a></li>
              <li class="tabs-title" id="fav_route"><a data-tabs-target="panel2" href="#panel2">Routes</a></li>
              <li class="tabs-title" id="fav_bus"><a data-tabs-target="panel3" href="#panel3">Buses</a></li>
            </ul>
            <div class="tabs-content" data-tabs-content="tab-headers">
 <div class="tabs-panel is-active" id="panel1">
                    <ul id="stop_list" style="list-style: none">
                    </ul>
                </div>
                <div class="tabs-panel" id="panel2">
                    <ul id="route_list" style="list-style: none">
                    </ul>
                </div>
                <div class="tabs-panel" id="panel3">
                    <ul id="bus_list" style="list-style: none">
                    </ul>
                </div>
            </div>
    {% else %}
        <button type='button' class='login-required' data-toggle="favsPage userPage">Login and enjoy all features we offered</button>
    {% endif %}
    </div>
    </div>
</div>

<div class="off-canvas position-bottom" id="contactPage" data-off-canvas data-transition="overlap">

</div>

<div class="off-canvas position-bottom" id="userPage" data-off-canvas data-transition="overlap">
<div class="grid-y grid-padding-x" style="height: 100%;">
<br>
<div class="cell shrink">
    <div>
        <button class="close-button" aria-label="Close menu" type="button" data-close>
  <span aria-hidden="true">&times;</span>
</button>
    </div>
</div>
</div>
</div>

   
<div class="off-canvas position-bottom" id="weatherPage" data-off-canvas data-transition="overlap">
<div class="grid-y grid-padding-x" style="height: 100%;">
<br>
<div class="cell shrink">
    <div class="offcanvas-full-screen-inner">
       <button class="close-button" aria-label="Close menu" type="button" data-close>
  <span aria-hidden="true">&times;</span>
</button>
      <div id="weatherInfo">

        <h1 style="color:#e5e5e5;"> Current Weather </h1>

        <div class="weatherDescription">
        <div>
        <canvas id="weatherIcon"></canvas>
        <div id="currentTemperature"></div>
        </div>
                </div>
                <hr>
                <div id="weather_heading"></div>
                <hr>
                <div id="weather_hourly"></div>
                <hr>
                <div id="weather_stats"></div>
                <hr>
                <div id="weather_daily"></div>
              </div>
            </div>
  </div>
        </div>
      </div>
    
<div class="off-canvas position-bottom" id="trafficPage" data-off-canvas>

        {% comment %} Add X to close Window {% endcomment %}
         <button class="close-button" aria-label="Close menu" type="button" data-close>
  <span aria-hidden="true">&times;</span>
</button>

        <div class="grid-y grid-padding-x" style="height: 100%;">
          <br>
          <div class="cell shrink">
            <h3> Traffic Info </h3>

            {% comment %} Render the traffic rss feed in here {% endcomment %}
            <hr>
            <div id="trafficfeed">
              {% comment %} Fill in Data here from js function {% endcomment %}
            </div>
            <hr>

            {#<img class="thumbnail" src="https://placehold.it/550x350">#}
          </div>
        </div>
      </div>
    
<div class="off-canvas position-left" id="offCanvasLeft" data-off-canvas>
<div>
    <button class="offcanvas-full-screen-close" aria-label="Close menu" type="button" data-close>
      <span aria-hidden="true">&times;</span>
    </button>

  <ul class="vertical menu" data-responsive-menu="drilldown medium-dropdown">
    <li><a href="#" data-toggle="navigator offCanvasLeft" class="JP">Journey Planner</a></li>
    <li><a href="#" data-toggle="tourismPage offCanvasLeft">Tourism</a></li>
    <li><a href="#" data-toggle="stopPage offCanvasLeft">Stops/Routes</a></li>
    <li><a href="#" data-toggle="favsPage offCanvasLeft">Favourites</a></li>
    <li><a href="#" data-toggle="weatherPage offCanvasLeft">Weather</a></li>
    <li><a href="#" data-toggle="trafficPage  offCanvasLeft">Traffic</a></li>
    <li><a href="#" class="TrafficMenu" data-toggle="contactPage offCanvasLeft">Contact</a></li>
      <hr>
        {% if user.is_authenticated %}
    <li><a href="#" data-toggle="userPage offCanvasLeft" id="user-trigger">My Account</a></li>
      {% else %}
    <li><a href="#" data-toggle="userPage offCanvasLeft" id="user-trigger">Login</a></li>
      {% endif %}


  </ul>
</div>

</div>

<div class="off-canvas-content" data-off-canvas-content>
<div class="title-bar-title hide-for-small-only">Dublin Bus | Journey Planner</div>
<div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="medium">
<button class="menu-icon" type="button" data-toggle="offCanvasLeft"></button>
<div class="title-bar-title">Dublin Bus | Journey Planner</div>
</div>
<div class="top-bar align-center hide-for-small-only" id="main-menu" data-animate="hinge-in-from-top hinge-out-from-top">
<ul class="menu vertical medium-horizontal" data-responsive-menu="drilldown medium-dropdown" id="nav">
<li><a href="#" data-toggle="navigator" class="JP">Journey Planner</a></li>
<li><a href="#" data-toggle="tourismPage">Tourism</a></li>
<li><a href="#" data-toggle="stopPage">Stops/Routes</a></li>
<li><a href="#" data-toggle="favsPage">Favourites</a></li>
<li><a href="#" data-toggle="contactPage">Contact</a></li>
</ul>
<ul class="menu vertical medium-horizontal" data-responsive-menu="drilldown medium-dropdown">
        {% if user.is_authenticated %}
<li><a href="#" data-toggle="userPage" id="user-trigger">My Account</a></li>
      {% else %}
    <li><a href="#" data-toggle="userPage" id="user-trigger">Login</a></li>
      {% endif %}
<li><a href="#" data-toggle="weatherPage">Weather</a></li>
<li><a href="#" class="TrafficMenu" data-toggle="trafficPage">Traffic</a></li>
          </ul>
        </div>
      </div>


    </div>
    </header>
<!--The div element for the map -->
    <div id="map"></div>

<script>
      $(document).foundation();
      $('#nav a').click(function() {
$('body').css('overflow', 'hidden');
});
</script>
  </body>


  <script>
    $(document).foundation();
  </script>
</body>

</html>
