<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
 
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <title>forget password </title>

</head>
<body>
 
 
  <div class="out">
    <h1>You such a big foolish，how dare you forget your password？OK, I forgive you !, Please input your email to change your password!</h1>
    <form method="post">
          {% csrf_token %}
      <P><span>email：</span><input type="text" name="email"></P>
      <P><span>verify code：</span>{{ forget_form.captcha }}</P>

        <p><button type="button" value="Send verification email." ></button></p>
    </form>
    <h1>{{ forget_form.errors }}{{ errormg }}</h1>
  </div>
 <script>
     $(document).ready(function(){

     })
 </script>
 
</body>
</html>