<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
 
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <title>reset your password</title>

</head>
<body>
 
 
  <div class="out">
    <h1>Dear {{user.username}}:</h1>
    <h2>Your email is :{{user.email}},you can reset your password</h2>
    <form method="post" >
      {% csrf_token %}
      <P><span>Password：</span><input type="password" name="new_pwd" placeholder="至少6位"></P>
      <P><span>Confirm：</span><input type="password" name="cnew_pwd" placeholder="至少6位"></P>
      <p><input type="submit" value="submit"></p>
    </form>
    <h1>{{ msg }}</h1>
  </div>
 
</body>
</html>